
/*******MAIN STYLES*******/

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Muli', sans-serif;
}

.main-heading {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

/*******FLEXBOX*******/

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
}

#Box-weather {
  margin: left;
  max-width: 30%;
  font-size: 30px;
  border-radius: 3%;
  padding: 20px;
  margin-bottom: 5%;
  background-color: #98FB98;
  text-align: center;
}

#Box-weather img {
  margin: 0 auto;
  width: 90%;
}

#calendar {
  margin: right;
  max-width: 50%;
  border-radius: 3%;
  padding: 20px;
  margin-bottom: 5%;
  width: 600px;
  height: 400px;
  background-color: #42B5F4;
  border: none;
}

#Box-dog {
  margin: left;
  font-size: 30px;
  border-radius: 3%;
  padding: 20px;
  margin-bottom: 5%;
  background-color: #9c30ff/*#551A8B*/;
  text-align: center;
}

#imageContainer {
  margin: 0 auto;
  max-width: 100%;
}

#bookmarks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 3%;
  max-width: 300px;
  padding: 20px;
  margin-bottom: 5%;
  background-color: #ff5151;
}

#bookmarks img {
  height: auto;
  width: 150px;
}
