
/*******MAIN STYLES*******/

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Muli', sans-serif;
}

.main-heading{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

/*******FLEXBOX*******/

.Box {
  margin: left;
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  border-radius: 3%;
  padding: 20px;
  margin-bottom: 5%;
}

.weather {
background-color: #98FB98;
}

.weather img {
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
}

.dog {
  background-color: #551A8B;
}

#imageContainer {
  margin: 0 auto;
  max-width: 40%;
  box-sizing: border-box;
}
